<div class="py-5 login-top-mrgn">
  <div class="container px-4 px-lg-5 mt-5">
    <h2>Log in</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true, input_html: {class: "input-form"} %>
        <%= f.input :password, required: false, input_html: {class: "input-form"} %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <br>
        <%= f.button :submit, "Log in", class: "btn btn-outline-dark btn-sm form-button" %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-outline-dark btn-sm form-button" %>
      </div>
    <% end %>
    <br>
    Don't have an account?
    <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-outline-dark btn-sm form-button"%>

    <br />
  </div>
</div>
