<% if user_signed_in? && current_user.cart.present? %>
  <%= link_to cart_path(current_user.cart), class: "btn-sm btn btn-outline-dark cart-btn" do %>
    <i class="bi-cart-fill me-1"></i> Bag
    <span class="badge text-white ms-1 rounded-pill bg-color">
      <%= current_user.cart.items.count %>
    </span>
  <% end %>

  <%= link_to cart_path(current_user.cart), class: "btn-sm btn btn-outline-dark cart-btn" do %>
    <i class="bi-cart-fill me-1"></i> Wishlist
    <span class="badge text-white ms-1 rounded-pill bg-color">
      <%= current_user.cart.items.count %>
    </span>
  <% end %>
<% else %>
  <%= link_to "javascript:void(0)", class: "btn-sm btn btn-outline-dark cart-btn" do %>
    <i class="bi-cart-fill me-1"></i> Bag
    <span class="badge text-white ms-1 rounded-pill bg-color">
      0
    </span>
  <% end %>

  <%= link_to "javascript:void(0)", class: "btn-sm btn btn-outline-dark cart-btn" do %>
    <i class="bi-cart-fill me-1"></i> Wishlist
    <span class="badge text-white ms-1 rounded-pill bg-color">
      0
    </span>
  <% end %>
<% end %>
