<div class="text-center my-3">
  <h2 class="font-weight-light">Featured Categories</h2>
  <div class="row mx-auto my-auto justify-content-center">
    <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="col-md-3">
            <div class="card">
              <div class="card-img">
                <%= image_tag("complete_cat.jpg", class: "img-fluid") %>
              </div>
              <div class="card-img-overlay">
                Complete Sets
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card">
              <div class="card-img">
                <%= image_tag("bangles_cat.jpeg", class: "img-fluid") %>
              </div>
              <div class="card-img-overlay">
                Bangles Sets
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card">
              <div class="card-img">
                <%= image_tag("handmade_cat.jpg", class: "img-fluid") %>
              </div>
              <div class="card-img-overlay">
                Handmades
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card">
              <div class="card-img">
                <%= image_tag("fabric_cat.jpg", class: "img-fluid") %>
              </div>
              <div class="card-img-overlay">
                Fabric Sets
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card">
              <div class="card-img">
                <%= image_tag("fancy_cat.jpg", class: "img-fluid") %>
              </div>
              <div class="card-img-overlay">
                Fancy Items
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card">
              <div class="card-img">
                <%= image_tag("necklas_cat.jpeg", class: "img-fluid") %>
              </div>
              <div class="card-img-overlay">
                Nackles Sets
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card">
              <div class="card-img">
                <%= image_tag("ring_cat.jpg", class: "img-fluid") %>
              </div>
              <div class="card-img-overlay">
                Ring Sets
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
  <h5 class="mt-2 fw-light">advances one slide at a time</h5>
</div>
